*{ margin:0;  
    padding: 0;           
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none; background-color: rgba(52, 11, 11, 0.384);
}
#head{  display: flex; 
    justify-content: center;
     gap: 5%; list-style: none;
     }
#head li:hover{  color: rgba(13, 14, 14, 0.162); border-bottom: 3px solid rgb(248, 114, 30);  cursor: pointer;
}
